<h4>Tracking</h4>
<hr>
<br>
<button class="btn btn-success" (click)="loadCourses()">Load Courses</button>
<ul>
    <li *ngFor="let course of courses; trackBy: trackCourse">
        {{course.name}}
    </li>
</ul>

<!-- <button 
class="mybutton" (click)="changeState()"
[style.background-color]="canSave ? 'gold':'tomato'"
[style.font-weight]="canSave ? 'bold':'normal'"
> 

Save</button> -->

<button 
class="mybutton" (click)="changeState()"
[ngStyle]="{
    'background-color':canSave ? 'green':'purple',
    'font-weight':canSave ? 'bold':'normal'
}"
> 

Save</button>