<!--  
<h1>Hello World- Angular Project</h1>

<mycomponent></mycomponent>
<br>
<blog-post></blog-post>
<hr>
<app-course></app-course>
<hr>
<app-books></app-books>
<hr>
<app-html-vs-dom></app-html-vs-dom>
<hr>
<app-property-binding></app-property-binding>
<hr>
<app-class-binding></app-class-binding>
<hr>
<app-event-binding></app-event-binding>
<hr>
<br>
<app-two-way-binding></app-two-way-binding>
<hr>
<br>
<app-pipes></app-pipes>  -->
<!-- 
<h3>Favorite Icon Project</h3>


<favorite 
[isFavorite]="post.isFavorite"
(change)="onFavoriteChanged()">

</favorite>

<hr>
<h4>Bootstrap Panel</h4>
<bootstrap-panel>
    <h5 class="heading">Heading- App Comp</h5>
    <p class="body">
        Lorem ipsum dolor sit amet consectetur
         adipisicing elit. 
         Labore laudantium nisi in atque 
         at quae accusantium obcaecati, nam 
         porro itaque consectetur, cupiditate 
         odio dignissimos non explicabo,
          exercitationem sapiente facilis debitis.
          <p>
</bootstrap-panel>

<bootstrap-panel>
    <h5 class="heading">Zartab Nakhwa</h5>
    <p class="body">I am an awesome trainer :D</p>
</bootstrap-panel>

<br><br>
<hr>
<h4>Like Project</h4>

<br>
<like [likesCount]="tweets.likes" [isActive]="tweets.isLiked"></like> -->

<!-- <hr>
<h2>Directives</h2>
<app-directive-if></app-directive-if>
<br><br>
<hr>
<app-directive-switch></app-directive-switch>
<br><br>
<hr>
<app-directive-for></app-directive-for>
<br><br> -->
<!-- <hr>
<app-tracking></app-tracking>

<hr>
<h4>Like Project</h4>
<br>
<like [likesCount]="tweets.likes" [isActive]="tweets.isLiked"></like> -->

<contact-form></contact-form>
